<div class= "container">
	<div class="row">
		<div class="col-xs-3">
			<h1>User info</h1>
			<table class="table">
				<tbody>
					<tr></tr>
					<tr>

						<th>Name</th>
						<% if user_signed_in? %>
						<th><%= @user.name %></th>
						<% end %>
					</tr>
					<tr>
						<th>introduction</th>
						<th><%= @user.introduction %></th>
					</tr>
				</tbody>
			</table>
			<%= link_to "", user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %>

			<h1>New Book</h1>
			<%= form_for(@book) do |f| %>
			<h4>Title</h4>
			<%= f.text_field :title, class: "col-xs-12 book_title" %>
			<h4>Opinion</h4>
			<%= f.text_area :body, class: "col-xs-12 book_body" %>

			<%= f.submit "Create Book", class: "col-xs-12 btn btn-primary dropdown-toggle" %>
			<% end %>
		</div>
		<div class="col-lg-9">
			<h1>Book deteil</h1>
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><%= @user.name %></th>
						<td><%= @books.title %></td>
						<td><%= @books.body %></td>
						<% if @books.user == current_user %>
						<td><%= link_to "Edit", edit_book_path, class: "btn btn-success dropdown-toggle edit_book_#{@books.id}" %></td>
						<td><%= link_to "Delete", { :controller => :books, :action => :destroy },method: :delete, class: "btn btn-danger dropdown-toggle destroy_book_#{@books.id}", "data-confirm" => "本当に削除しますか？" %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

